# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\General Development\automate-ookla-speedtest\python-csv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
